obj/
bin/
Logs/
dist/
node_modules/
appveyor-tools/
.include
.vs
.utils/*.wxs
.utils/*.wxi
**/src/proto/*.ts
package-lock.json

*~
*.js
*.log
*.user
*.orig
*.bak
*.pdf
*.DotSettings
